@import url("https://fonts.googleapis.com/css?family=Public+Sans:400,700,600,800|Barlow:900");

/* Variables */

:root {
    --commonblack:
            rgba(0, 0, 0, 1);
    --primarydarker:
            rgba(0, 82, 73, 1);
    --primarymain:
            rgba(0, 171, 85, 1);
    --backgrounddarkpaper:
            rgba(33, 43, 54, 1);
    --transparentsuccess16:
            rgba(54, 179, 126, 0.161);
    --actionlightactive:
            rgba(99, 115, 129, 1);
    --actiondarkhover:
            rgba(145, 158, 171, 0.078);
    --transparentgrey12:
            rgba(145, 158, 171, 0.122);
    --actiondarkselected:
            rgba(145, 158, 171, 0.161);
    --otherdocswrap:
            rgba(145, 158, 171, 0.322);
    --transparentgrey48:
            rgba(145, 158, 171, 0.478);
    --actiondarkactive:
            rgba(145, 158, 171, 1);
    --grey400:
            rgba(196, 205, 213, 1);
    --grey300:
            rgba(223, 227, 232, 1);
    --grey100:
            rgba(249, 250, 251, 1);
    --warningmain:
            rgba(255, 171, 0, 1);
    --backgroundlightpaper:
            rgba(255, 255, 255, 1);

    --font-size-l: 24px;
    --font-size-xl: 64px;
    --font-size-s2: 14px;
    --font-size-s3: 15px;
    --font-size-m2: 16px;
    --font-size-l2: 48px;
    --font-size-xs2: 13px;
    --font-size-xl2: 96px;
    --font-size-xxs2: 12px;

    --font-family-barlow: "Barlow";
    --font-family-barlow-black: "Barlow-Black";
    --font-family-public_sans: "Public Sans";
    --font-family-public_sans-bold: "Public Sans-Bold";
    --font-family-public_sans-extrabold: "Public Sans-ExtraBold";
    --font-family-public_sans-regular: "Public Sans-Regular";
    --font-family-public_sans-semibold: "Public Sans-SemiBold";
}

/* Classes */

.publicsans-bold-charade-12px {
    color: var(--backgrounddarkpaper);
    font-family: var(--font-family-public_sans-bold);
    font-size: var(--font-size-xxs2);
    font-weight: 700;
    font-style: normal;
}
.publicsans-semi-bold-jade-14px {
    color: var(--primarymain);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-s2);
    font-weight: 600;
    font-style: normal;
}
.publicsans-bold-white-14px {
    color: var(--backgroundlightpaper);
    font-family: var(--font-family-public_sans-bold);
    font-size: var(--font-size-s2);
    font-weight: 700;
    font-style: normal;
}
.publicsans-regular-normal-manatee-12px {
    color: var(--actiondarkactive);
    font-family: var(--font-family-public_sans-regular);
    font-size: var(--font-size-xxs2);
    font-weight: 400;
    font-style: normal;
}
.publicsans-bold-charade-12px {
    color: var(--backgrounddarkpaper);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-xxs2);
    font-weight: 700;
    font-style: normal;
}
.publicsans-normal-black-16px {
    color: var(--commonblack);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
}
.publicsans-bold-white-13px {
    font-family: var(--font-family-public_sans-bold);
    font-size: var(--font-size-xs2);
    font-weight: 700;
    font-style: normal;
}
.publicsans-bold-white-13px {
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-xs2);
    font-weight: 700;
    font-style: normal;
}
.publicsans-semi-bold-charade-14px {
    color: var(--backgrounddarkpaper);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-s2);
    font-weight: 600;
    font-style: normal;
}
.publicsans-normal-white-12px {
    color: var(--backgroundlightpaper);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-xxs2);
    font-weight: 400;
    font-style: normal;
}
.publicsans-semi-bold-jade-14px {
    color: var(--primarymain);
    font-family: var(--font-family-public_sans-semibold);
    font-size: var(--font-size-s2);
    font-weight: 600;
    font-style: normal;
}
.publicsans-semi-bold-jade-13px{
    color: #09d356;
    font-family: var(--font-family-public_sans-semibold);
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
}
.publicsans-semi-bold-charade-14px {
    color: var(--backgrounddarkpaper);
    font-family: var(--font-family-public_sans-semibold);
    font-size: var(--font-size-s2);
    font-weight: 600;
    font-style: normal;
}
.publicsans-bold-white-14px {
    color: var(--backgroundlightpaper);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-s2);
    font-weight: 700;
    font-style: normal;
}
.publicsans-regular-normal-white-12px {
    color: var(--backgroundlightpaper);
    font-family: var(--font-family-public_sans-regular);
    font-size: var(--font-size-xxs2);
    font-weight: 400;
    font-style: normal;
}
.publicsans-semi-bold-black-16px {
    color: var(--commonblack);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-m2);
    font-weight: 600;
    font-style: normal;
}
.publicsans-normal-charade-14px {
    color: var(--backgrounddarkpaper);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-s2);
    font-weight: 400;
    font-style: normal;
}
.publicsans-normal-manatee-12px {
    color: var(--actiondarkactive);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-xxs2);
    font-weight: 400;
    font-style: normal;
}
.publicsans-bold-white-15px {
    color: var(--backgroundlightpaper);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-s3);
    font-weight: 700;
    font-style: normal;
}
.publicsans-semi-bold-manatee-14px {
    color: var(--actiondarkactive);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-s2);
    font-weight: 600;
    font-style: normal;
}
.publicsans-bold-charade-13px {
    color: var(--backgrounddarkpaper);
    font-family: var(--font-family-public_sans-bold);
    font-size: var(--font-size-xs2);
    font-weight: 700;
    font-style: normal;
}
.publicsans-regular-normal-charade-14px {
    color: var(--backgrounddarkpaper);
    font-family: var(--font-family-public_sans-regular);
    font-size: var(--font-size-s2);
    font-weight: 400;
    font-style: normal;
}
.publicsans-semi-bold-manatee-14px {
    color: var(--actiondarkactive);
    font-family: var(--font-family-public_sans-semibold);
    font-size: var(--font-size-s2);
    font-weight: 600;
    font-style: normal;
}
.publicsans-bold-white-15px {
    color: var(--backgroundlightpaper);
    font-family: var(--font-family-public_sans-bold);
    font-size: var(--font-size-s3);
    font-weight: 700;
    font-style: normal;
}
.publicsans-bold-charade-13px {
    color: var(--backgrounddarkpaper);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-xs2);
    font-weight: 700;
    font-style: normal;
}
.publicsans-regular-normal-black-16px {
    color: var(--commonblack);
    font-family: var(--font-family-public_sans-regular);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
}
.publicsans-semi-bold-black-16px {
    color: var(--commonblack);
    font-family: var(--font-family-public_sans-semibold);
    font-size: var(--font-size-m2);
    font-weight: 600;
    font-style: normal;
}

.screen a {
    display: contents;
    text-decoration: none;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-page {
    align-items: flex-start;
    background-color: var(--backgroundlightpaper);
    border: 1px none;
    display: flex;
    flex-direction: column;
    min-width: 99vw;
    position: relative;
}

.home-hero {
    align-items: center;
    background-color: var(--backgroundlightpaper);
    display: flex;
    gap: 225px;
    height: 936px;
    overflow: hidden;
    padding: 0px 222px 0px 0px;
    position: relative;
    width: 99vw;
}

.bg {
    height: 1080px;
    left: 0;
    position: absolute;
    top: -72px;
    width: 99vw;
}

.overlay-container {
    height: 1080px;
    position: relative;
}

.overlay {
    background-color: var(--backgroundlightpaper);
    height: 936px;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 72px;
    width: 99vw;
}

.ellipses {
    height: 1216px;
    left: 384px;
    position: absolute;
    top: -80px;
    width: 1616px;
}

.ellipse {
    background-color: var(--primarydarker);
    border-radius: 576px/200px;
    filter: blur(200px);
    height: 400px;
    left: 0;
    opacity: 0.08;
    position: absolute;
    top: 816px;
    width: 1152px;
}

.ellipse-1 {
    background-color: var(--primarydarker);
    border-radius: 240px;
    filter: blur(200px);
    height: 480px;
    left: 1136px;
    opacity: 0.08;
    position: absolute;
    top: 0;
    width: 480px;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 580px;
}

.head {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    position: relative;
}

.text {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 0px 24px;
    position: relative;
    width: fit-content;
}

.start-a-new-project {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color:
            transparent;
    background: linear-gradient(180deg,
    rgb(255, 171, 0) 0.21%,
    rgb(0, 171, 85) 100%);
    background-clip: text;
    color:
            transparent;
    font-family: var(--font-family-barlow);
    font-size: var(--font-size-xl2);
    font-weight: 900;
    letter-spacing: 8px;
    line-height: 96px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    text-fill-color:
            transparent;
    width: fit-content;
}

.start-a-new-project-1 {
    align-self: stretch;
    color: var(--backgrounddarkpaper);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-l2);
    font-weight: 800;
    letter-spacing: 0;
    line-height: 64px;
    position: relative;
    text-align: center;
}

.stack {
    align-items: flex-start;
    display: flex;
    gap: 16px;
    position: relative;
    width: fit-content;
}

.stack-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: fit-content;
}

.link {
    align-items: center;
    display: flex;
    gap: 4px;
    position: relative;
    width: fit-content;
}

.iconsexternal-link {
    height: 16px;
    min-width: 16px;
    position: relative;
}

.the-starting-point-f {
    color: var(--backgrounddarkpaper);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-xxs2);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    width: fit-content;
}

.stack-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    opacity: 0.4;
    position: relative;
    width: fit-content;
}

.the-starting-point-f-1 {
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.stack-3 {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: center;
    position: relative;
    width: fit-content;
}

.iconsplatformsic {
    height: 24px;
    min-width: 24px;
    position: relative;
}

.webinar-pana-1 {
    height: 600px;
    min-width: 900px;
    object-fit: cover;
    position: relative;
}

.overlap-group {
    height: 88px;
    position: relative;
    width: 99vw;
}

.bg-1 {
    background-color: var(--backgroundlightpaper);
    height: 88px;
    left: 0;
    position: absolute;
    top: 0;
    width: 99vw;
}

.content-1 {
    align-items: center;
    display: flex;
    height: 40px;
    left: 384px;
    position: absolute;
    top: 24px;
    width: 1152px;
}

.logo {
    height: 40px;
    min-width: 40px;
    position: relative;
}

.links {
    align-items: center;
    display: flex;
    gap: 40px;
    height: 36px;
    justify-content: flex-end;
    position: relative;
    width: 1112px;
}

.links-item {
    letter-spacing: 0;
    line-height: 22px;
    position: relative;
    white-space: nowrap;
    width: fit-content;

}

.link-1 {
    align-items: center;
    display: flex;
    gap: 4px;
    position: relative;
    width: fit-content;
}

.dashboard {
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.iconsic_chevron_left {
    height: 16px;
    min-width: 16px;
    position: relative;
}

.ellipse-9 {
    background-color: var(--primarymain);
    border-radius: 3px;
    height: 6px;
    left: -14px;
    opacity: 0.48;
    position: absolute;
    top: 8px;
    width: 6px;
}

.button {
    align-items: center;
    background-color: var(--primarymain);
    border-radius: 8px;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 6px 16px;
    position: relative;
    width: fit-content;
}

.start-icon {
    height: 20px;
    min-width: 20px;
    position: relative;
}

.label {
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.backgroundoverlay_2 {
    align-items: center;
    display: flex;
    height: 1080px;
    left: 240px;
    position: absolute;
    top: 0;
    width: 1440px;
}

.img {
    height: 936px;
    object-fit: cover;
    width: 1440px;
}

.button-1 {
    align-items: center;
    background-color: var(--backgrounddarkpaper);
    border-radius: 8px;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 11px 22px;
    position: relative;
    width: fit-content;
}

.iconsic_flash {
    height: 24px;
    min-width: 24px;
    position: relative;
}

.label-1 {
    letter-spacing: 0;
    line-height: 26px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.button-2 {
    align-items: center;
    border: 1px solid;
    border-color: var(--backgrounddarkpaper);
    border-radius: 8px;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 11px 22px;
    position: relative;
    width: fit-content;
}

.start-icon-1 {
    height: 24px;
    min-width: 24px;
    position: relative;
}

.label-2 {
    color: var(--backgrounddarkpaper);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-s3);
    font-weight: 700;
    letter-spacing: 0;
    line-height: 26px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
