@import url("https://fonts.googleapis.com/css?family=Public+Sans:700,600,400,800|Be+Vietnam:500");

.review_list-valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review_list-reviews {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 12px;
  padding: 40px 0;
  position: relative;
  width: 1322px;
}

.review_list-review-ecommerce-product {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 16px;
  height: 124px;
  min-width: 1282px;
  position: relative;
}

.review_list-x {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  min-height: 72px;
  position: relative;
  width: 1026px;
}

.review_list-gr {
  letter-spacing: 0;
  line-height: 22px;
  min-height: 44px;
  width: 1026px;
}

.review_list-review-ecommerce-product-1.review-ecommerce-product-3 .x {
  min-height: 94px;
}

.review_list-review-ecommerce-product-1.review-ecommerce-product-3 .gr {
  min-height: 66px;
}

.review_list-review-ecommerce-product-1.review-ecommerce-product .x {
  min-height: 50px;
}

.review_list-review-ecommerce-product-1.review-ecommerce-product .gr {
  min-height: unset;
  white-space: nowrap;
  width: unset;
}

.review_list-user-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 124px;
  width: 240px;
}

.review_list-avatar {
  background-size: 100% 100%;
  border-radius: 100px;
  height: 64px;
  width: 64px;
}

.review_list-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 44px;
  width: 240px;
}

.review_list-name4 {
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  text-align: center;
  white-space: nowrap;
  width: 240px;
}

.review_list-dd_mmm_yyyy4 {
  letter-spacing: 0;
  line-height: 18px;
  min-width: 65px;
  text-align: center;
  white-space: nowrap;
}

.review_list-rating {
  align-items: flex-start;
  display: flex;
  min-width: 100px;
}

.review_list-icon {
  height: 20px;
  width: 20px;
}

.review_list-navbar {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 36px;
  margin-right: 40px;
  min-width: 306px;
  padding: 1px 8px;
}

.review_list-iconsic_chevron_left {
  align-self: center;
  height: 20px;
  width: 20px;
}

.review_list-selected {
  align-items: flex-start;
  align-self: center;
  background-color: var(--jade);
  border-radius: 50px;
  display: flex;
  height: 32px;
  margin-left: 14px;
  overflow: hidden;
  padding: 3px 6.4px;
  width: 32px;
}

.review_list-number {
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 19px;
}

.review_list-navbar-link {
  height: 32px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 6px;
  text-align: center;
  width: 32px;
}

.review_list-iconsic_chevron_right {
  align-self: center;
  height: 20px;
  margin-left: 14px;
  width: 20px;
}