@import url("https://fonts.googleapis.com/css?family=Public+Sans:700,600,400");

:root {
    --black:
            rgba(0, 0, 0, 1);
    --jade:
            rgba(0, 171, 85, 1);
    --charade:
            rgba(33, 43, 54, 1);
    --pale-sky:
            rgba(99, 115, 129, 1);
    --manatee:
            rgba(145, 158, 171, 0.078);
    --white:
            rgba(255, 255, 255, 1);

    --font-size-s: 13px;
    --font-size-m: 14px;
    --font-size-l: 16px;
    --font-size-xl: 24px;

    --font-family-public_sans: "Public Sans";
}

/* Classes */

.publicsans-normal-pale-sky-14px {
    color: var(--pale-sky);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.publicsans-semi-bold-jade-14px {
    color: var(--jade);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}

.publicsans-bold-white-13px {
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-s);
    font-weight: 700;
    font-style: normal;
}

.publicsans-bold-green-13px {
    color:rgb(0, 201, 117);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-s);
    font-weight: 700;
    font-style: normal;
}

.publicsans-bold-orange-13px {
    color:rgb(255, 134, 35);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-s);
    font-weight: 700;
    font-style: normal;
}

.publicsans-semi-bold-charade-14px {
    color: var(--charade);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}

.publicsans-bold-black-14px {
    color: var(--black);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.publicsans-bold-white-14px {
    color: var(--white);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.publicsans-semi-bold-white-14px {
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}

.publicsans-semi-bold-black-16px {
    color: black;
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-l);
    font-weight: 600;
    font-style: normal;
}
.model{
    color: rgb(91, 229, 132);
    font-weight: 600;
    font-size: 14px;
}
.publicsans-semi-bold-white-16px {
    color: var(--white);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-l);
    font-weight: 600;
    font-style: normal;
}

.publicsans-bold-black-24px {
    color: var(--black);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
    align-items: center;
    display: flex;
    height: 34px;
    padding: 4px 9px;
}

.publicsans-semi-bold-charade-16px {
    color: var(--charade);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-l);
    font-weight: 600;
    font-style: normal;
}

.publicsans-semi-bold-black-14px {
    color: var(--black);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}
.tx1{
color: rgb(25, 57, 183)!important;

}
.publicsans-semi-bold-blue-14px {
    color:rgb(84, 118, 255);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}
.publicsans-bold-charade-13px {
    color: var(--charade);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-s);
    font-weight: 700;
    font-style: normal;
}

.publicsans-normal-charade-16px {
    color: var(--charade);
    font-family: var(--font-family-public_sans);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frame-1 {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: -20px 20px 40px -4px #919eab3d, 0px 0px 2px #919eab3d;
    display: flex;
    gap: 10px;
    height: 162px;
    min-width: 1229px;
    padding: 0 10px;
    position: relative;
}

.x335913644_9819789628 {
    height: 121px;
    margin-top: 10px;
    object-fit: cover;
    width: 121px;
}

.frame-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-height: 112px;
    width: 889px;
}

.frame-3 {
    align-items: center;
    display: flex;
    gap: 7px;
    height: 24px;
    min-width: 304px;
    position: relative;
}

.aizawa-minami {
    align-self: flex-start;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    min-width: 114px;
    white-space: nowrap;
}

.iconsflagsic_kr {
    background-size: 100% 100%;
    box-shadow: 0px 1px 2px #919eab29;
    height: 20px;
    width: 28px;
}

.overlap-group {
    height: 56px;
    position: relative;

}

.frame-8 {
    align-items: flex-start;
    display: flex;
    gap: 4px;
    height: 22px;
    left: 0;
    min-width: 230px;
    top: 0;
}

.x2 {
    left: 0;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 21px;
    width: 889px;
}

.button-x {
    align-items: flex-start;
    border-radius: 8px;
    display: flex;
    gap: 3px;
    height: 22px;
    min-width: 148px;
    padding: 0 5px;
}

.start-icon {
    align-self: center;
    height: 18px;
    width: 18px;
}

.label {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color:
            transparent;
    background: linear-gradient(180deg,
    rgb(134, 232, 171) 0%,
    rgb(54, 179, 126) 100%);
    background-clip: text;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    white-space: nowrap;
}

.button-x1 {
    align-items: center;
    border-radius: 8px;
    display: flex;
    gap: 3px;
    height: 22px;
    min-width: 57px;
    padding: 0 5px;
}

.start-icon-1 {
    align-self: center;
    height: 18px;
    width: 18px;
}

.label-1 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color:
            transparent;
    background: linear-gradient(180deg,
    rgb(255, 172, 130) 0%,
    rgb(255, 86, 48) 100%);
    background-clip: text;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    white-space: nowrap;
}

.button-2 {
    align-items: center;
    border-radius: 8px;
    display: flex;
    gap: 3px;
    height: 22px;
    min-width: 64px;
    padding: 0 5px;
}

.start-icon-2 {
    align-self: center;
    height: 18px;
    width: 18px;
}

.label-2 {
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    white-space: nowrap;
}

.button-3 {
    align-items: center;
    border-radius: 8px;
    display: flex;
    gap: 3px;
    height: 22px;
    min-width: 83px;
    padding: 0 5px;
}

.start-icon-3 {
    align-self: center;
    height: 18px;
    width: 18px;
}

.label-3 {
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    white-space: nowrap;
}

.frame-5 {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 142px;
    width: 179px;
}

.frame-10 {
    align-items: center;
    align-self: flex-start;
    display: flex;
    gap: 5px;
    height: 58px;
    min-width: 169px;
}

.overlap-group-1 {
    height: 55px;
    margin-bottom: 1px;
    position: relative;
    width: 890px;
}


.frame-6 {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 34px;
    left: 2px;
    min-width: 60px;
    padding: 4px 9px;
    top: 0;
}

.icon-star {
    align-self: center;
    height: 24px;
    object-fit: cover;
    width: 24px;
}

.number {
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.address {
    left: 0;
    letter-spacing: 0;
    line-height: 22px;
    top: 33px;
    white-space: nowrap;
}

.frame-9 {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 58px;
    width: 100px;
    padding-top: 4px;
}

.price {
    letter-spacing: 0;
    line-height: 36px;
    margin-top: -1px;
    min-width: 79px;
    white-space: nowrap;
}

.address-1 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color:
            transparent;
    background: linear-gradient(180deg,
    rgb(132, 169, 255) 0%,
    rgb(25, 57, 183) 100%);
    background-clip: text;
    letter-spacing: 0;
    line-height: 22px;
    min-width: 100px;
    white-space: nowrap;
}
.sex{
    color:  rgb(255, 86, 48)
}
.button-4 {
    align-items: flex-start;
    background: linear-gradient(180deg,
    rgb(255, 172, 130) 0%,
    rgb(255, 86, 48) 100%);
    border-radius: 8px;
    border-color:aliceblue;
    display: flex;
    gap: 8px;
    height: 36px;
    margin-right: 10px;
    min-width: 144px;
    padding: 5px 16px;
    align-items: center;
}

.star {
    align-self: center;
    height: 20px;
    width: 20px;
}

.label-4 {
    height: 24px;
    letter-spacing: 0;
    line-height: 24px;
    min-width: 84px;
    text-align: center;
    white-space: nowrap;
}

.button-5 {
    align-items: center;
    background: linear-gradient(180deg,
    rgb(91, 229, 132) 0%,
    rgb(0, 171, 85) 100%);
    border-radius: 8px;
    border-color:aliceblue;
    display: flex;
    gap: 8px;
    height: 36px;
    margin-right: 10px;
    min-width: 129px;
    padding: 5px 15.5px;
}

.label-5 {
    height: 24px;
    letter-spacing: 0;
    line-height: 24px;
    min-width: 70px;
    text-align: center;
    white-space: nowrap;
}
