.register-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
.register-register {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
}
.register-register1 {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--dl-color-background_light-default);
}
.register-auth-banner {
    width: 1220px;
    height: 1024px;
    display: flex;
    padding: 16px 0 16px 16px;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    background-color: var(--dl-color-grey-800);
}
.register-bg {
    top: -28px;
    left: -305px;
    width: 1830px;
    height: 1080px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
.register-backgroundoverlay2 {
    top: 0px;
    left: 1635px;
    width: 1440px;
    height: 1080px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.register-img {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1080px;
    position: absolute;
}
.register-overlay {
    top: 0px;
    left: 1830px;
    width: 1830px;
    height: 1080px;
    opacity: 0.90;
    z-index: 1;
    position: absolute;
}
.register-content {
    gap: 80px;
    top: 178px;
    left: 250px;
    width: 720px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
}
.register-text {
    color: var(--dl-color-text_light-primary);
    width: 480px;
    height: auto;
    text-align: center;
    line-height: 48px;
}
.register-illustrationsillustrationdashboard {
    width: 720px;
    height: 540px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
}
.register-img1 {
    top: 0px;
    left: 0px;
    width: 720px;
    height: 540px;
    position: absolute;
}
.register-logo {
    width: 160px;
    height: 160px;
    display: flex;
    padding: 40px;
    z-index: 1;
    align-items: flex-start;
    flex-shrink: 0;
}
.register-logo1 {
    /*position: absolute;*/
    width: 54px;
    height: 54px;
}
.register-stack {
    display: flex;
    padding: 240px 64px 0;
    z-index: 2;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: center;
}
.register-auth-form-register {
    gap: 40px;
    width: 592px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    background-color: var(--dl-color-background_light-default);
}
.register-head {
    gap: 16px;
    display: flex;
    overflow: hidden;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}
.register-text02 {
    color: var(--dl-color-text_light-primary);
    height: auto;
    text-align: left;
    line-height: 36px;
}
.register-text04 {
    color: rgba(33, 43, 54, 1);
    height: auto;
    font-size: 14px;
    font-style: Regular;
    text-align: right;
    font-family: Public Sans;
    font-weight: 400;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
}
.register-text05 {
    color: var(--dl-color-text_light-primary);
    font-weight: 400;
}
.register-content1 {
    gap: 20px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
}
.register-stack1 {
    gap: 16px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: center;
}
.register-text-field {
    width: 592px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}
.register-input {
    gap: 8px;
    color: rgba(145, 158, 171, 1);
    display: flex;
    padding: 16px 14px;
    overflow: hidden;
    font-size: 16px;
    align-self: stretch;
    text-align: left;
    align-items: center;
    flex-shrink: 0;
    font-family: Public Sans;
    font-weight: 400;
    border-color: rgba(145, 158, 171, 0.3199999928474426);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    width: 100%;
}
.register-text-field1 {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}
.register-input1 {
    gap: 8px;
    color: rgba(145, 158, 171, 1);
    display: flex;
    padding: 16px 14px;
    overflow: hidden;
    font-size: 16px;
    align-self: stretch;
    text-align: left;
    align-items: center;
    flex-shrink: 0;
    font-family: Public Sans;
    font-weight: 400;
    border-color: rgba(145, 158, 171, 0.3199999928474426);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}
.register-text-field2 {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}
.register-input2 {
    gap: 8px;
    display: flex;
    padding: 16px 14px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(145, 158, 171, 0.3199999928474426);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}
.register-text07 {
    color: var(--dl-color-text_light-disabled);
    height: auto;
    flex-grow: 1;
    text-align: left;
    line-height: 24px;
}
.register-endadornment {
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
}
.register-icon-button {
    display: flex;
    padding: 8px;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
}
.register-iconsiceye {
    width: 24px;
    height: 24px;
}
.register-button {
    gap: 8px;
    display: flex;
    padding: 11px 22px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    justify-content: center;
    background-color: var(--dl-color-text_light-primary);
}
.register-text09 {
    color: var(--dl-color-common-white);
    height: auto;
    text-align: left;
    line-height: 26px;
}
.register-text11 {
    color: rgba(99, 115, 129, 1);
    height: auto;
    font-size: 12px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Public Sans;
    font-weight: 400;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
}
.register-text12 {
    color: var(--dl-color-text_light-secondary);
    text-decoration: NONE;
}
.register-text13 {
    text-decoration: UNDERLINE;
}
.register-text14 {
    text-decoration: NONE;
}
.register-text15 {
    color: var(--dl-color-text_light-primary);
    text-decoration: UNDERLINE;
}
.register-divider {
    display: flex;
    overflow: hidden;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}
.register-divider1 {
    width: 276px;
    height: 22px;
    flex-grow: 1;
}
.register-text17 {
    color: var(--dl-color-text_light-disabled);
    width: 40px;
    height: auto;
    text-align: center;
    line-height: 18px;
}
.register-divider2 {
    width: 276px;
    height: 22px;
    flex-grow: 1;
}
.register-stack2 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}
.register-icon-button1 {
    display: flex;
    padding: 8px;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
}
.register-iconsicgoogle {
    width: 20px;
    height: 20px;
}
.register-icon-button2 {
    display: flex;
    padding: 8px;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
}
.register-iconsicfacebbook {
    width: 20px;
    height: 20px;
}
.register-icon-button3 {
    display: flex;
    padding: 8px;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
}
.register-iconsictwitter {
    width: 20px;
    height: 20px;
}
